@font-face {
  font-family: "NotoSans";
  src: url("/public/Fonts/NotoSans-VariableFont_wdth\,wght.ttf");
  font-display: swap;
}

/* Smooth transitions */
* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "NotoSans", sans-serif;

  background-image: url("/BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  pointer-events: auto;
}

#ui-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100;
  z-index: 10;

  pointer-events: none;
}

#stage-form,
#details-form,
input,
button {
  pointer-events: auto; /* make the form elements clickable */
}

#stage-form {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 60px;
}

.fade-out {
  opacity: 0;
  transform: translateY(2.5rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.bonanzaImage {
  width: 600px;
  height: auto;
  margin: auto;
}

.thanksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: #3f3e3e;
}

/* Pointer events utility classes */
.pointer-events-auto {
  pointer-events: auto;
}
.pointer-events-none {
  pointer-events: none;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.15);
}

/* Shaking animation class for text */
@keyframes shakeText {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
.shake-anim {
  animation: shakeText 0.5s ease-in-out;
}

.hidden-vis {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}
.visible-vis {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  padding: 10px;
  overflow: hidden;

  text-align: start;
}

.formFieldContainer {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  color: #3f3e3e;
}

.formFieldContainer label {
  font-size: 14px;
  font-weight: 500;
}

input {
  width: 100%;
  /* height: 50px; */
  padding: 15px 20px !important;
  /* margin: 0 10px; */
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  color: #3f3e3e;
}

.revealButton {
  background-color: #0d33b7;
  color: white;
  padding: 15px 70px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.pickDeeple {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pickDeeple p {
  font-size: 60px;
  font-weight: 500;
  color: #0d33b7;
}

.pickDeeple h2 {
  font-size: 60px;
  font-weight: 700;
  color: #0d33b7;
}

#stage-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0d33b7;
  text-align: center;
}

#stage-result h2 {
  font-size: 50px;
  font-weight: 700;
}

#stage-result h3 {
  font-size: 120px;
  font-weight: 900;
}

#stage-result p {
  font-size: 30px;
  font-weight: 700;
}

.submitBotton {
  background-color: #0d33b7;
  color: white;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 40px;
  border: 1px solid #0d33b7;
  cursor: pointer;
}

.submitBotton:hover {
  background-color: transparent;

  color: #0d33b7;
}

@media (max-width: 800px) {
  #stage-form {
    padding-top: 60px;
  }
  .bonanzaImage {
    width: 500px;
  }
  #stage-result h2 {
    font-size: 50px;
    font-weight: 700;
  }

  #stage-result h3 {
    font-size: 120px;
    font-weight: 900;
  }

  #stage-result p {
    font-size: 25px;
    font-weight: 700;
  }
}

@media (max-width: 560px) {
  .formContainer {
    padding: 10px 20px;
  }
  #stage-form {
    padding-top: 50px;
  }
  .bonanzaImage {
    width: 300px;
  }
  .thanksContainer {
    font-size: 20px !important;
    font-weight: 500;
    margin: 20px 20px 0;
  }

  .pickDeeple h2 {
    font-size: 30px;
  }
  .pickDeeple p {
    font-size: 30px;
  }

  #stage-result h2 {
    font-size: 30px;
    font-weight: 700;
    text-wrap: wrap;
  }

  #stage-result h3 {
    font-size: 80px;
    font-weight: 900;
  }

  #stage-result p {
    font-size: 18px;
    font-weight: 700;
  }
}


.sorryContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.sorryBox {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  text-align: center;
  max-width: 500px;
  margin: 20px;
  width: 100%;
  color: #333;
  font-family: "Arial", sans-serif;
}


.title {
  font-size: 28px;
  font-weight: 700;
  color: #0d33b7;
  margin-bottom: 20px;

}

.message {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #555;
}

.retryButton {
  background-color: #0d33b7;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.retryButton:hover {
  background-color: #093b8d;
}
